<div class="container">
  <h1>Client Library</h1>
  <section class="row text-center">
    <h2>Color Palette</h2>
    <div class="row d-flex my-2">
      <div class="col-6">
        <div class="bg-independence-700 text-light p-3"><span>Independence 700</span></div>
        <div class="bg-independence-500 text-light p-3"><span>Independence 500</span></div>
        <div class="bg-independence-300 text-light p-3"><span>Independence 300</span></div>
      </div>
      <div class="col-6">
        <div class="bg-champagne-700 text-primary p-3"><span>Champange 700</span></div>
        <div class="bg-champagne-500 text-primary p-3"><span>Champange 500</span></div>
        <div class="bg-champagne-300 text-primary p-3"><span>Champange 300</span></div>
      </div>
    </div>
    <div class="row d-flex my-2">
      <div class="col-6">
        <div class="bg-sheen-700 text-light p-3"><span>Sheen 700</span></div>
        <div class="bg-sheen-500 text-primary p-3"><span>Sheen 500</span></div>
        <div class="bg-sheen-300 text-primary p-3"><span>Sheen 300</span></div>
      </div>
      <div class="col-6">
        <div class="bg-terraCotta-700 text-light p-3"><span>Terra Cotta 700</span></div>
        <div class="bg-terraCotta-500 text-primary p-3"><span>Terra Cotta 500</span></div>
        <div class="bg-terraCotta-300 text-primary p-3"><span>Terra Cotta 300</span></div>
      </div>
    </div>
    <div class="col-6 mx-auto">
      <div class="bg-eggshell-700 text-primary p-3"><span>Eggshell 700</span></div>
      <div class="bg-eggshell-500 text-primary p-3"><span>Eggshell 500</span></div>
      <div class="bg-eggshell-300 text-primary p-3"><span>Eggshell 300</span></div>
   </div>
  </section>
  <section>
    <h2>Typography</h2>
    <article class="ps-4">
      <h3>Headers</h3>
      <ul>
        <div>
          <h1>This is a main header</h1>
          <h1>This should only be used one time on the page at most</h1>
        </div>
        <div>
          <h2>This is a subheader</h2>
          <h2>This should be used to distinguish between the main sections of the page</h2>
        </div>
        <div>
          <h3>This is a secondary header</h3>
          <h3>This should be used when displaying subtitles</h3>
        </div>
      </ul>
    </article>
    <article class="ps-4">
      <h3>Text</h3>
      <ul>
        <p>This is the primary text type for the application and should be used most often.</p>
        <p class="emphasize">This is emphasized text and should be used when you want to bring attention to a word or short phrase.</p>
        <p class="secondary">This is secondary text and should be used to display helpful tidbits of information that is not required to used the application.</p>
        <p class="sm">This is small text and should be used for conveying minor information.</p>
      </ul>
    </article>
    <article class="ps-4">
      <h3>Labels</h3>
      <ul>
        <label>This is the primary label type</label>
        <label>This is a small label</label>
        <label>This is a large label</label>
      </ul>
    </article>
  </section>
  <section>
    <h2>Buttons</h2>
  </section>
  <section>
    <h2>Forms</h2>
  </section>
  <section>
    <h2>Links</h2>
  </section>
  <section>
    <h2>Tables</h2>
  </section>
  <section>
    <h2>Modals</h2>
  </section>
</div>