$independence: #3D405B;
$sheen: #81B29A;
$champagne: #F2CC8F;
$terraCotta: #e07a5f;
$eggshell: #F4F1DE;

$independence-700: darken($independence, 20);
$independence-500: $independence;
$independence-300: lighten($independence, 20);

$sheen-700: darken($sheen, 20);
$sheen-500: $sheen;
$sheen-300: lighten($sheen, 20);


$champagne-700: darken($champagne, 20);
$champagne-500: $champagne;
$champagne-300: lighten($champagne, 20);

$terraCotta-700: darken($terraCotta, 20);
$terraCotta-500: $terraCotta;
$terraCotta-300: lighten($terraCotta, 20);

$eggshell-700: darken($eggshell, 20);
$eggshell-500: $eggshell;
$eggshell-300: lighten($eggshell, 20);

