.bg-independence-700 {
  background: $independence-700
}
.bg-independence-500 {
  background: $independence-500
}
.bg-independence-300 {
  background: $independence-300
}

.bg-champagne-700 {
  background: $champagne-700
}
.bg-champagne-500 {
  background: $champagne-500
}
.bg-champagne-300 {
  background: $champagne-300
}

.bg-sheen-700 {
  background: $sheen-700
}
.bg-sheen-500 {
  background: $sheen-500
}
.bg-sheen-300 {
  background: $sheen-300
}

.bg-terraCotta-700 {
  background: $terraCotta-700
}
.bg-terraCotta-500 {
  background: $terraCotta-500
}
.bg-terraCotta-300 {
  background: $terraCotta-300
}

.bg-eggshell-700 {
  background: $eggshell-700
}
.bg-eggshell-500 {
  background: $eggshell-500
}
.bg-eggshell-300 {
  background: $eggshell-300
}