body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    margin : 0;
    overflow: hidden;
}

main {
    width : 100%;
    height : 100%;
    display : flex;
}

#app{
    width: 100%;
    height: 100%;
    display: flex;
    background: #8BBEB2;
}

main #map{
    height: 100%;
    width: 97%
}
main #map.show-legend{
    height: 100%;
    width: 90%
}
.authentication-input{
    height: 5%;
    width: 20%;
}

aside span.icon{
    cursor: pointer;
    margin-top : 1rem;
    padding : .5rem;
}
aside span.icon.collapse{
    position :absolute;
    bottom: 0;
}
aside span.icon svg{
    fill : white;
    padding : .5rem;
    background : #3874BC;
    border-radius : 50%;
}

aside span.icon:hover svg{
    background : #2A578D;
}
aside{
    height: 100%;
    background: #18314F;
    color: white;
    display: flex;
    flex-flow : column;
    align-items: center;
}

aside a{
    text-transform: uppercase;
    position: relative;
    left: 5%;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}
aside a:visited{
    color: white
    
}
aside a:hover{
    color: #E6F9AF
    
}

aside form{
    padding : 1rem;
}

aside form select{
    /* width: auto; */
    color: #eee;
    background: #264D7E;
    border: 1px solid white;
    border-radius: 2px;
    padding : 5px;
}

.legend-list{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 90%;
    color: #18314f;
    padding: .5rem .5rem .5rem 0;
    background: #E0E9F6;
    border-radius: 5px;
    
}

.legend-row{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 .5rem;
}

.legend-row span{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right : 1rem;
}

.legend-row p{
    margin: 5px 0;
}


section{
    height: 50%;
    margin:  10% auto 0;
}

h1{
    padding: 6px;
    border: none;
    border-bottom: 2px dotted red;
    background: transparent;
    color: #18314F;
    font-size: 2rem;
    font-weight: 700;
}
#list li:hover{
    cursor: pointer;
}

#list{
    list-style: none;
    /* display: none; */
    margin-left: 2%;
    color: white;
    font-weight: 400;
}

#list.active{
    display: block;
}

#list li{
    margin: 1% 0;
    display: flex;
    justify-content: space-between;
    width: 100%
}

#list li:hover{
    color: #335B52
}
.icon-container{
    width: 25%;
    height: 1rem;
    display: flex;
}

.trip-icon{
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    margin: 0 5%;
}

.trip-icon.holiday{
    background: red;
}
.trip-icon.vacation{
    background: blue;
}

.trip-icon.concert{
    background: yellow;
}

.trip-icon.race{
    background: green;
}
.trip-icon.professional{
    background: white;
}

.travels-popup .mapboxgl-popup-content{
    padding: 5px 10px;
}

.mapboxgl-popup-content p{
    margin: 1% 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    color: #aaa;
}

.mapboxgl-popup-content p.address{
    font-size: .75rem;
    text-align: center;
    color: #ccc;
}

@media only screen and (max-width : 800px){
    main {
        flex-flow : column;
    }
    main #map{
        width: 100%;
        height: 90%
    }
    main aside {
        height : 10%;
        flex-flow : row;
    }
    .legend-list{
        flex-flow: column nowrap;
        width: 50%;
        height : 66%;
        padding: 0;
        overflow-y : scroll;
        overflow-x : hidden;
    }
    aside span.icon{
        cursor: pointer;
        margin-top : 0;
    }
    
    aside span.icon.collapse{
        display: none;
    }
}